@import url('https://fonts.googleapis.com/css?family=Lobster|Montserrat|Raleway|Permanent+Marker&display=swap');

@font-face {
    font-family: productsFont;
    src: url('/fonts/Product\ Sans\ Regular.ttf');
  }

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

    
li{
    display: flex;
    justify-content: center; /* For horizontal alignment */
    align-items: center; /* For vertical alignment */
    width: 25%;
    height: 100%;
}




.nav-home{
    background-color: #69D2E7;
}

.nav-about{
    background-color: #A7DBD8;
}

.nav-contact{
    background-color: #FA6900;
}

.nav-projects{
    background-color: #E0E4CC;
}


.nav-list {
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    list-style: none;
    font-family: 'Permanent Marker', cursive;
    a{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

.nav-links{
    text-decoration: none;
    color: black;
    font-size: 40px;
    justify-content: center;
}


.home, .about, .contact,.projects{
    height: 90vh;
    position: absolute;
    width: 100%;
    font-family: 'productsFont', sans-serif;
}

.home-content{
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    h1{
        font-size: 50px;
        margin: 30px 0px;
    }
}

.home-presentation{
    h1{
        font-size: 180px;
    }
}

.home-skills{
    p{
        transform: rotate(-45deg);
        line-height: 1.5;
    }
}

.ball{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #FA6900;
    animation: bounce 3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

  
  @keyframes bounce {
    from { transform: translate3d(30vh, -30vh, 0);     }
    to   { transform: translate3d(-30vh, 30vh, 0); }
  }



.color{
    color: #FA6900;
}


//825 x 960

.about-content{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    h1{
        font-family: 'Permanent Marker', cursive;
    }
    img{
        max-width: 410px;
        max-height: 480px;
        -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
    }
}

.about-leftpanel{
    padding: 1vh;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-rightpanel{
    max-width: 50%;
    text-align: justify;
    margin: 0 10vh 0 10vh;
}




.projects-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.projects-title{
    display: flex;
    justify-content: center;
    padding: 20px;
    h1{
        font-size: 70px;
        font-family: 'Permanent Marker', cursive;
    }
}


.wrap{
    margin:50px auto 0 auto;
    width:100%;
    display:flex;
    align-items:space-around;
    max-width:1200px;
}

.tile{
    width:380px;
    height:380px;
    margin:10px;
    background-color:#69D2E7;
    display:inline-block;
    background-size:cover;
    position:relative;
    cursor:pointer;
    transition: all 0.4s ease-out;
    box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.44);
    overflow:hidden;
    color:#E0E4CC;
    border: #69D2E7 2px solid;
}

.tile img{
    height:100%;
    width:100%;
    position:absolute;
    top:0;
    left:0;
    z-index:0;
    transition: all 0.4s ease-out;
}

.tile .text{
    position:absolute;
    padding:30px;
    height:calc(100% - 60px);
    p{
        text-align: justify;
        
    }
    a{
        color: inherit;
    }
}

.tile h1{
    text-decoration: line-through;
    font-size: 30px;
    font-weight:300;
    margin:0;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.3);
}

.tile h2{
    font-weight:100;
    margin:20px 0 0 0;
    font-style:italic;
    transform: translateX(200px);
    color: black;
}

.tile p{
    font-weight:300;
    margin:20px 0 0 0;
    line-height: 25px;
    transform: translateX(-200px);
    transition-delay: 0.2s;
    color: black;
}

.fab{
    font-size: 30px;
}

.animate-text{
    opacity:0;
    transition: all 0.6s ease-in-out;
}

.tile:hover{
    box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.64);
    transform:scale(1.05);
}

.tile:hover h1{
    text-decoration: none;
}

.tile:hover img{
    opacity: 0.2;
}

.tile:hover .animate-text{
    transform:translateX(0);
    opacity:1;
}

.tile:hover span{
    opacity:1;
    transform:translateY(0px);
}



.contact-content{
    height: 100%;
    display: flex;
    flex-wrap: wrap;  
}

.contact-resume, .contact-email{
    display: flex;
    justify-content: center; /* For horizontal alignment */
    align-items: center; /* For vertical alignment */
    height: 100%;
    width: 50%;
    a{
        color: inherit;
        text-decoration: none;
    }
}

.change-square{
    width: 400px;
    height: 400px;
    line-height: 370px;
    text-align: center;
    border-radius: 0%;
    border: 15px solid white;
    transition: .2s;
    font-size: 30px;
    
}

.contact-resume:hover .change-square{
    border-radius: 50%;
    height: 400px;
    line-height: 370px;
}

.contact-email:hover .change-square{
    border-radius: 50%;
    height: 400px;
    line-height: 370px;
}


.contact-resume{
    background-color: #E0E4CC;
}

.contact-resume .change-square{
    border-color: #FA6900;
}

.contact-email .change-square{
    border-color: #E0E4CC;
}

.home{
    background-image: url('/images/Website_stripes.png');
}

.about{
    // background-color: #A7DBD8;
    background-image: url('/images/background-stars.png');
}

.contact{
    background-color: #FA6900;
}

.projects{
    background-image: url('/images/website-dots.png');
}

.projects-single{
    background-color: #69D2E7;
}


@media(max-width: 1150px){

    .about-content{
        flex-direction: column;
        height: auto;
    }

    .about-leftpanel{
        margin-top: 2vh;
        max-width: 100%;
    }

    .about-rightpanel{
        max-width: 100%;
    }

    .wrap{
        flex-direction: column;
        max-width:400px; 
        align-items: center;
    }

}

@media (max-width: 1000px){

    



    .ball{
        opacity: 0;
    }

    .tile{
        width: 300px;
        height: 300px;
        h1{
            font-size: 20px;
        }
        h2{
            font-size: 15px;
        }
        p{
            font-size: 12px;
            line-height: 1.6;
        }
         
    }

    .home-content{
        flex-direction: column-reverse;
    }

    .home-presentation{
        h1{
            font-size: 150px;
        }
    }

    .home-skills{
        p{
        transform: rotate(0deg);
        font-size: 25px;
        }
    }

    .nav-links{
        font-size: 30px;
    }

    .contact-resume, .contact-email{
        height: 50%;
        width: 100%;
    }

    .change-square{
        width: 300px;
        height: 300px;
        line-height: 270px;
        text-align: center;
        border-radius: 0%;
        border: 15px solid white;
        transition: .2s;
        font-size: 24px;
    }
    
    .contact-resume:hover .change-square{
        border-radius: 50%;
        height: 300px;
        line-height: 270px;
    }
    
    .contact-email:hover .change-square{
        border-radius: 50%;
        height: 300px;
        line-height: 270px;
    }
    

}

@media (max-width: 550px){


    .nav-links{
        font-size: 20px;
    }

    .home-presentation{
        h1{
            font-size: 100px;
        }
    }

    .home-skills{
        p{
        transform: rotate(0deg);
        font-size: 15px;
        }
    }

    .about-rightpanel{
        margin: 0vh 2vh 0vh 2vh;
        font-size: 20px;
    }
}

@media (max-width: 450px){
    .about-leftpanel{
        img{
            height: 320px;
            width: 275px;
        }
        h1{
            font-size: 40px;
        }
    }
}

@media (max-width: 400px){

    .about-rightpanel{
        margin: 0vh 2vh 0vh 2vh;
        font-size: 15px;
    }

    .wrap{
        width: 300px;
    }

    .contact-resume, .contact-email{
        height: 50%;
        width: 100%;
    }

    .change-square{
        width: 200px;
        height: 200px;
        line-height: 170px;
        text-align: center;
        border-radius: 0%;
        border: 15px solid white;
        transition: .2s;
        font-size: 15px;
    }
    
    .contact-resume:hover .change-square{
        border-radius: 50%;
        height: 200px;
        line-height: 170px;
    }
    
    .contact-email:hover .change-square{
        border-radius: 50%;
        height: 200px;
        line-height: 170px;
    }
    

}